{% apply spaceless %}
  <h3>{{ 'Scheduled transitions'|t }}</h3>
  <ul>
  <li {{ attributes.addClass('scheduled-transitions-sidebar-transition-list') }}>
  {% for transition in transitions %}
    <div class="scheduled-transitions-sidebar-transition-list__transition">
      <div class="date">{{ transition.date }}</div>
      <div class="message">{{ 'Changing'|t }} from {{ transition.from_state }} to  {{ transition.to_state }} ({{ transition.from_revision }})</div>
    </div>
  {% endfor %}
  </li>
  </ul>
{% endapply %}
